@model AnimalViewModel
@{
    Layout = "_Layout";
}


@foreach (var animal in Model.Animals)
{
    <div class="genCard"  >
        <p>
            Types: [@String.Join(", ",animal.AnimalTypes.Select(x => x+"")?.Aggregate((acc,x) => acc+=$"{x}")?.ToCharArray())] <br />
            Weight: @animal.Weight <br />
            Length: @animal.Length <br />
            Height: @animal.Height <br />
            Gender: @animal.Gender <br />
            Life Status:@animal.LifeStatus <br />
            Date and time of chipping: @animal.ChippingDateTime <br />
            ID of chipper: @animal.ChipperId<br />
            Chipping location ID: @animal.ChippingLocationId <br />
            Visited Locations: [@String.Join(", ", animal.VisitingLocations.Select(x => x + "").Aggregate((acc, x) => acc += $"{x}").ToCharArray())] <br/>
            Date and time of death: @animal.DeathDateTime
        </p>
    </div>
}